body {
    font-weight: 400;
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

.header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.header a:hover {
    text-decoration: none;
}

.footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

.content > .page-header:first-child {
    margin-top: 0;
}

.content > .page-header:first-child h2 {
    margin-top: 0;
}


.navigation {
    font-size: 0.9em;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;

    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 992px) {
    .navbar {
        width: 212px;
    }
}
@media (min-width: 1200px) {
    .navbar {
        width: 262px;
    }
}

.sidebar-nav .navbar-header{
    float: none;
}

.nav > .nav-header > a {
    margin-left: -7px;
    padding-left: 8px;
}

.nav > .home > a {
    margin-left: -7px;
    padding-left: 8px;
}

.nav > li {
    padding-left: 10px;
}

.searchbox {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.hidden {
    display: none;
}

.searchresult-panel .panel-heading span {
    font-size: 15px;
    margin-top: -20px;
}

.searchresult .found {
    font-style: italic;
    margin-bottom: 1.25em;
}

.resultitem em {
    background-color: #428bca;
    color: #ffffff;
    text-shadow: none;
    font-style: normal;
}

.clickable {
    cursor: pointer;
}
