# Site title and subtitle. This is used in _includes/header.html
title: 'jekyll-software-documentation'
subtitle: 'Painless documentation for your projects'

# Enable/show navigation. There are there options:
#   0 - always hide
#   1 - always show
#   2 - show only if posts are present
navigation: 2

# URL to source code, used in _includes/footer.html
codeurl: 'https://github.com/aprueller/jekyll-software-documentation'

# Default categories (in order) to appear in the navigation
sections: [
    ['doc', 'Documentation'],
    ['tut', 'Tutorial'],
    ['ref', 'Reference'],
    ['dev', 'Developers'],
    ['post', 'Posts']
]

# Keep as an empty string if served up at the root. If served up at a specific
# path (e.g. on GitHub pages) leave off the trailing slash, e.g. /my-project
baseurl: '/jekyll-software-documentation'

# Dates are not included in permalinks
permalink: none

# Syntax highlighting
highlighter: pygments

# Since these are pages, it doesn't really matter
future: true

# Exclude non-site files
exclude: ['bin', 'README.md', 'solr']

# Use the redcarpet Markdown renderer
markdown: redcarpet
redcarpet:
    extensions: [
        'no_intra_emphasis',
        'fenced_code_blocks',
        'autolink',
        'strikethrough',
        'superscript',
        'with_toc_data',
        'tables',
        'hardwrap'
    ]

# Configuration for Solr index, the solr_indexing_project configuration can be used to index several different
# documentations (general and specific docs) in one solr collection without interfering with each other
# (defaults to 'default').
solr_indexing_enabled: false
solr_indexing_baseurl: 'http://localhost:8983/solr/collection1'
solr_query_baseurl: 'http://localhost:8983/solr/collection1'

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: page
